# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
.venv/
venv/
env/

# Streamlit
.streamlit/secrets.toml

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data files (opcionales, evita subir datos sensibles)
*.xlsx
*.xls
*.parquet
